/* color */
:root {
    --purple-login: #564fbb;
    --green: #1abc9c;
}
* {
    font-family: "Poppins";
    margin: 0px;
    padding: 0px;
}
.btn-danger {
    font-family: "Poppins";
}
.btn-third {
    color: white !important;
    background-color: rgb(16, 16, 139);
}

.btn-third:hover {
    color: white !important;
    background-color: rgb(14, 14, 129) !important;
}
.auth-wrapper {
    background: url(../../images/bg-pra-dashboard.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text-green {
    color: #1abc9c !important;
}

/* btn */
.btn-success {
    color: white !important;
    background-color: #1abc9c !important;
}
.btn-success:hover {
    color: white !important;
    background-color: #17a589 !important;
}
.btn-purple {
    color: white !important;
    background-color: var(--purple) !important;
}
.btn-purple:hover {
    color: white !important;
    background-color: #564fbbef !important;
}
.btn-green {
    color: white !important;
    background-color: #1abc9c !important;
}
.btn-green:hover {
    color: white !important;
    background-color: #17a589 !important;
}
.btn-outline-green {
    color: #1abc9c !important;
    background-color: white !important;
    border: 1px solid #1abc9c !important;
}
.btn-outline-green:hover {
    color: white !important;
    background-color: #17a589 !important;
}

/* bg */
.bg-orange {
    background-color: #ffaf61 !important;
}
.bg-green {
    background-color: #1abc9c !important;
}
.bg-darkBlue {
    background-color: #2c3e50 !important;
}
.fs-7 {
    font-size: 0.9rem !important;
}

label {
    font-weight: 600;
}

/* bg LOGIN */

@import url("https://fonts.googleapis.com/css?family=Exo:400,700");
.input-login {
    background: rgba(255, 255, 255, 0) !important;
}
body {
    font-family: "Exo", sans-serif;
}

.context {
    width: 100%;
    position: absolute;
    top: 50vh;
}

.context h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.form-checkbox.form-switch-xl {
    margin-bottom: 1rem;
}

.form-checkbox.form-switch-xl .form-check-input {
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 0.4em;
}
.form-checkbox.form-switch-xl .form-check-input:checked {
    color: #1abc9c;
    background-color: #1abc9c;
}
.table-green {
    background-color: #6cc8b4 !important;
}
.table-green-2 {
    background-color: rgba(80, 148, 133, 0.663) !important;
}

option:hover {
    background-color: #17a589 !important;
}

.text-justify {
    text-align: justify !important;
}

table {
    border-collapse: collapse !important;
    border-spacing: 0 !important;
    width: 100% !important;
    border: 1px solid #ddd;
}

.px-6 {
    padding-right: 20rem !important;
}

.dropdown-itemm:hover {
    background-color: #1abc9c !important;
    color: #fff !important;
}
